.postList {
    padding: 10px;
}

.refreshBtnContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postListItem {
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 5px;
    background-color: #ddddff;
    border-radius: 5px;
    padding: 7px;
}

.postListItem p {
    text-align: start;
    font-size: 1rem;
    margin: 0;
}

.postListItem .infoSection p {
    font-weight: bold;
}

.postListItem .infoSection {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.writeDate {
    height: 100%;
    display: flex;
    align-items: end;
}

.nonSelect {
    user-select: none;
}

.app-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.refreshBtnContainer {
    width: 100%; /* Ensures the container stretches across the full width */
    display: flex;
    justify-content: center; /* Center button horizontally */
    align-items: center; /* Center button vertically */
}

.refreshBtnContainer button {
    width: 100%; /* Makes the button take up full width */
    height: 50px; /* Adjust the height as needed */
    font-size: 18px; /* Adjust font size */
    text-align: center; /* Center text */
}
