.colorPickerButton, .sliderButton {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.rgb {
    width: 40px;
    text-align: center;
}

.hex {
    width: 120px;
    text-align: center;
}
