.headerBox {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #55e80f;
    padding-left: 10px;
    padding-right: 10px;
}

.headerBox h2 {
    color: green;
    text-align: center;
    margin: 0;
}

.menuIcon {
    width: 35px;
}

.offcanvas {
    width: 30%;
}

.generalBtn {
    background-color: #55e80f;
    color: white;
    font-size: 0.8rem;
    width: 60px;
    transition: background-color 0.3s, transform 0.3s;
}

.generalBtn:hover {
    background-color: #3fb00b;
    color: white;
    transform: scale(1.05);
}

.generalBtn:active {
    transform: scale(0.95);
}

.offBoxNav {
    background-color: lightgray;
    margin: 1px;
    padding: 5px;
}

.offBoxNav a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}