.headerBox {
    background-color: #0000B1;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBox h2 {
    color: white;
    text-align: center;
    margin: 0;
}