/* .contentBox {
    height: 100%;
} */

.myCanvas {
    position: absolute;
    height: 100%;
}

.myCanvas:hover {
    cursor: crosshair;
}

.editorArea {
    overflow: hidden;
}

.drawEditorArea {
    position: relative;
    height: 80vh;
    overflow: auto;
}
